.articleSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
  & * {
    display: flex;
    transition: var(--transition-basic);
  }
}

.contentWrap {
  flex-direction: column;
  align-items: center;
  max-width: 1360px;
  gap: 20px;
  // font-family: var(--sora);

  & > span {
    gap: 10px;

    & *:hover {
      color: var(--lightpink);
      transition: var(--transition-basic);
      cursor: pointer;
    }
  }

  & span *, time {
    font-family: var(--rale);
    font-weight: bold;
    color: var(--grau);
  }
}

.title {
  width: 100%;
  justify-content: center;
}

.content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 2;
  font-weight: 600;
}