.navBar {
  height: 60px;
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  background-image: linear-gradient(
    to bottom,
    transparent, 
    rgba(255,255,255,.7) 10%, 
    white, 
    rgba(255,255,255,.7) 90%, 
    transparent
  );

  & * {  
    transition: var(--transition-basic);
  }
}

.navWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover * {
    transform: scale(1.2) translateY(20px);
    filter: blur(3px);
    color: var(--pink);
  }
}

.navLink {
  text-transform: uppercase;
  padding: 2.5px 50px;
  cursor: pointer;
  font-size: 28px;
  // font-family: var(--sora);

  &:hover {
    background-color: var(--pink);
    color: white;
    transform: scale(1.5) translateY(20px);
    filter: blur(0);
  }
}
