.navBar {
  height: 3rem;
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  background-image: linear-gradient(
    to bottom,
    transparent, 
    rgba(255,255,255,.4) 15%, 
    rgba(255,255,255,.7) 30%, 
    rgba(255,255,255,.87), 
    rgba(255,255,255,.7) 70%, 
    rgba(255,255,255,.4) 85%, 
    transparent
  );

  & * {  
    transition: var(--transition-basic);
  }
}

.navWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover * {
    transform: scale(1.2) translateY(2rem);
    filter: blur(3px);
    color: var(--pink);
  }
}

.navLink {
  text-transform: uppercase;
  padding: 1.25rem 2.5rem;
  cursor: pointer;
  font-size: 2rem;
  // font-family: var(--sora);

  &:hover {
    background-color: var(--pink);
    color: white;
    transform: scale(1.5) translateY(2rem);
    filter: blur(0);
  }
}
